# Discord webhook where raid notifications are sent
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/your/webhook

# Guild name used to validate members
GUILD=YourGuildName

# RabbitMQ connection for posting raids to website
RABBIT_HOST=rabbit-hostname
RABBIT_PORT=0000
RABBIT_USER=rabbit-username
RABBIT_PASS=rabbit-password
RABBIT_VHOST=rabbit-vhost